---
import Layout from "~/layouts/PageLayout.astro";

import { getLocale, t } from "~/utils/i18n";

const locale = getLocale(Astro.request);

import Header from "~/components/widgets/Header.astro";

import Hero2 from "~/components/widgets/Hero2.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features3 from "~/components/widgets/Features3.astro";
import Content from "~/components/widgets/Content.astro";
import Testimonials from "~/components/widgets/Testimonials.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";

import Button from "~/components/ui/Button.astro";
import Image from "~/components/common/Image.astro";

const appStoreImg = "~/assets/images/app-store.png";
const appStoreDownloadLink = "https://github.com/arthelokyo/astrowind";

const googlePlayImg = "~/assets/images/google-play.png";
const googlePlayDownloadLink = "https://github.com/arthelokyo/astrowind";

const metadata = {
  title: t("homes.mobile_app.metadata.title", locale),
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        {
          text: t("homes.mobile_app.header.links.services", locale),
          href: "#",
        },
        {
          text: t("homes.mobile_app.header.links.features", locale),
          href: "#",
        },
        { text: t("homes.mobile_app.header.links.about", locale), href: "#" },
      ]}
      actions={[
        {
          text: t("homes.mobile_app.header.actions.download", locale),
          href: "#download",
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline={t("homes.mobile_app.hero.tagline", locale)}
    image={{
      src: "https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80",
      alt: "AstroWind Hero Image",
    }}
  >
    <Fragment slot="title">
      <span set:html={t("homes.mobile_app.hero.title_html", locale)} />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        {t("homes.mobile_app.hero.subtitle", locale)}
      </span>
      {t("homes.mobile_app.hero.subtitle_continued", locale)}
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title={t("homes.mobile_app.features.title", locale)}
    subtitle={t("homes.mobile_app.features.subtitle", locale)}
    tagline={t("homes.mobile_app.features.tagline", locale)}
    columns={2}
    items={[
      {
        title: t("homes.mobile_app.features.items.0.title", locale),
        description: t("homes.mobile_app.features.items.0.description", locale),
        icon: "tabler:square-number-1",
      },
      {
        title: t("homes.mobile_app.features.items.1.title", locale),
        description: t("homes.mobile_app.features.items.1.description", locale),
        icon: "tabler:square-number-2",
      },
      {
        title: t("homes.mobile_app.features.items.2.title", locale),
        description: t("homes.mobile_app.features.items.2.description", locale),
        icon: "tabler:square-number-3",
      },
      {
        title: t("homes.mobile_app.features.items.3.title", locale),
        description: t("homes.mobile_app.features.items.3.description", locale),
        icon: "tabler:square-number-4",
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80",
      alt: "Colorful Image",
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: t("homes.mobile_app.main_features.items.0.title", locale),
        description: t(
          "homes.mobile_app.main_features.items.0.description",
          locale,
        ),
        icon: "tabler:wand",
      },
      {
        title: t("homes.mobile_app.main_features.items.1.title", locale),
        description: t(
          "homes.mobile_app.main_features.items.1.description",
          locale,
        ),
        icon: "tabler:settings",
      },
      {
        title: t("homes.mobile_app.main_features.items.2.title", locale),
        description: t(
          "homes.mobile_app.main_features.items.2.description",
          locale,
        ),
        icon: "tabler:template",
      },
      {
        title: t("homes.mobile_app.main_features.items.3.title", locale),
        description: t(
          "homes.mobile_app.main_features.items.3.description",
          locale,
        ),
        icon: "tabler:carousel-horizontal",
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80",
      alt: "Colorful Image",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        {t("homes.mobile_app.main_features.title", locale)}
      </h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: t("homes.mobile_app.other_features.items.0.title", locale),
        description: t(
          "homes.mobile_app.other_features.items.0.description",
          locale,
        ),
        icon: "tabler:wifi-off",
      },
      {
        title: t("homes.mobile_app.other_features.items.1.title", locale),
        description: t(
          "homes.mobile_app.other_features.items.1.description",
          locale,
        ),
        icon: "tabler:file-download",
      },
      {
        title: t("homes.mobile_app.other_features.items.2.title", locale),
        description: t(
          "homes.mobile_app.other_features.items.2.description",
          locale,
        ),
        icon: "tabler:refresh",
      },
      {
        title: t("homes.mobile_app.other_features.items.3.title", locale),
        description: t(
          "homes.mobile_app.other_features.items.3.description",
          locale,
        ),
        icon: "tabler:heart",
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
      alt: "Vintage Image",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        {t("homes.mobile_app.other_features.title", locale)}
      </h3>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    title={t("homes.mobile_app.stats.title", locale)}
    stats={[
      { amount: "20K", icon: "tabler:download" },
      { amount: "18.5K", icon: "tabler:users" },
      { amount: "4.7", icon: "tabler:user-star" },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title={t("homes.mobile_app.testimonials.title", locale)}
    testimonials={[
      {
        testimonial: t(
          "homes.mobile_app.testimonials.items.0.testimonial",
          locale,
        ),
        name: t("homes.mobile_app.testimonials.items.0.name", locale),
        job: t("homes.mobile_app.testimonials.items.0.job", locale),
        image: {
          src: "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
          alt: "Cary Kennedy Image",
        },
      },
      {
        testimonial: t(
          "homes.mobile_app.testimonials.items.1.testimonial",
          locale,
        ),
        name: t("homes.mobile_app.testimonials.items.1.name", locale),
        job: t("homes.mobile_app.testimonials.items.1.job", locale),
        image: {
          src: "https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
          alt: "Josh Wilkinson Image",
        },
      },
      {
        testimonial: t(
          "homes.mobile_app.testimonials.items.2.testimonial",
          locale,
        ),
        name: t("homes.mobile_app.testimonials.items.2.name", locale),
        job: t("homes.mobile_app.testimonials.items.2.job", locale),
        image: {
          src: "https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
          alt: "Sidney Hansen Image",
        },
      },
    ]}
    callToAction={{
      target: "_blank",
      text:
        t("homes.mobile_app.testimonials.read_more", locale) ||
        "Read more testimonials",
      href: "https://github.com/arthelokyo/astrowind",
      icon: "tabler:chevron-right",
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title={t("homes.mobile_app.faqs.title", locale)}
    items={[
      {
        title: t("homes.mobile_app.faqs.items.0.title", locale),
        description: t("homes.mobile_app.faqs.items.0.description", locale),
      },
      {
        title: t("homes.mobile_app.faqs.items.1.title", locale),
        description: t("homes.mobile_app.faqs.items.1.description", locale),
      },
      {
        title: t("homes.mobile_app.faqs.items.2.title", locale),
        description: t("homes.mobile_app.faqs.items.2.description", locale),
      },
      {
        title: t("homes.mobile_app.faqs.items.3.title", locale),
        description: t("homes.mobile_app.faqs.items.3.description", locale),
      },
      {
        title: t("homes.mobile_app.faqs.items.4.title", locale),
        description: t("homes.mobile_app.faqs.items.4.description", locale),
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title={t("homes.mobile_app.cta.title", locale)}
    subtitle={t("homes.mobile_app.cta.subtitle", locale)}
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
